<div class="filter active">
    <div class="filter__header">
        <h3>Все фильтры</h3>

        <div class="filter__close"></div>
    </div>

    <div class="filter__body">
        <div class="custom-switch">
            <input type="checkbox" class="custom-switch-input" id="switch3">

            <label class="custom-switch-label" for="switch3">
                <span class="text">Рядом со мной</span>
            </label>
        </div>

        <div class="filter__select">
            <div class="filter__select--header">Рядом с <span></span></div>
            <div class="filter__select--body">
                <div class="filter__select--option">Невыбрано</div>
                <div class="filter__select--option">Гум</div>
                <div class="filter__select--option">Ботанический сад</div>
                <div class="filter__select--option">Комаровка</div>
                <div class="filter__select--option">Лебяжий</div>
                <div class="filter__select--option">Логойск</div>
            </div>
        </div>

        <div class="filter__select">
            <div class="filter__select--header">Метро <span></span></div>
            <div class="filter__select--body">
                <div class="filter__select--option">Невыбрано</div>
                <div class="filter__select--option">Лубянка</div>
                <div class="filter__select--option">Ботанический сад</div>
                <div class="filter__select--option">Метро 1</div>
                <div class="filter__select--option">Метро 2</div>
            </div>
        </div>

        <div class="filter__select">
            <div class="filter__select--header">Район <span></span></div>
            <div class="filter__select--body">
                <div class="filter__select--option">Невыбрано</div>
                <div class="filter__select--option">Гум</div>
                <div class="filter__select--option">Ботанический сад</div>
                <div class="filter__select--option">Комаровка</div>
                <div class="filter__select--option">Лебяжий</div>
                <div class="filter__select--option">Логойск</div>
            </div>
        </div>

        <div class="filter__select">
            <div class="filter__select--header">Микрорайон <span></span></div>
            <div class="filter__select--body">
                <div class="filter__select--option">Брилевичи</div>
                <div class="filter__select--option">Гум</div>
            </div>
        </div>

        <div class="filter__select">
            <div class="filter__select--header">Время работы <span></span></div>
            <div class="filter__select--body">
                <div class="filter__select--option">до обеда</div>
                <div class="filter__select--option">после обеда</div>
            </div>
        </div>

        <div class="custom-switch">
            <input type="checkbox" class="custom-switch-input" id="switch4">

            <label class="custom-switch-label" for="switch4">
                <span class="text">Карта Халва</span>
            </label>
        </div>

        <div class="filter__block">
            <h5>Для кого</h5>

            <div class="tabs-wrap">
                <div class="tab-text">Для беременных и после родов</div>
                <div class="tab-text">Для двоих</div>
                <div class="tab-text">Для детей</div>
                <div class="tab-text">Для женщин</div>
                <div class="tab-text">Для мужчин</div>
            </div>
        </div>

        <div class="filter__block">
            <h5>SPA</h5>

            <div class="tabs-wrap">
                <div class="tab-text">LPG-процедуры</div>
                <div class="tab-text">SPA для двоих</div>
                <div class="tab-text">SPA для лица</div>
                <div class="tab-text">SPA для похудения</div>
                <div class="tab-text">SPA для тела</div>
            </div>
        </div>

        <div class="filter__block">
            <h5>Массаж</h5>

            <div class="tabs-wrap">
                <div class="tab-text">Антицеллюлитный</div>
                <div class="tab-text">Детский</div>
                <div class="tab-text">Биомеханическая стимуляция</div>
                <div class="tab-text">Испанский</div>
                <div class="tab-text">Медовый</div>
            </div>
        </div>

        <div class="filter__block">
            <h5>Уход за лицом</h5>

            <div class="tabs-wrap">
                <div class="tab-text">Визаж</div>
                <div class="tab-text">Аппаратная косметология</div>
                <div class="tab-text">Инъекционная косметология</div>
                <div class="tab-text">Классическая косметология</div>
            </div>
        </div>

        <div class="filter__block">
            <h5>Уход за руками и ногами</h5>

            <div class="tabs-wrap">
                <div class="tab-text">Дизайн</div>
                <div class="tab-text">Маникюр</div>
                <div class="tab-text">Педикюр</div>
                <div class="tab-text">Наращивание и коррекция ногтей</div>
                <div class="tab-text">Покрытие</div>
            </div>
        </div>

        <div class="filter__block">
            <h5>Дополнительно</h5>

            <div class="tabs-wrap">
                <div class="tab-text">Визаж</div>
                <div class="tab-text">Лазерный центр</div>
                <div class="tab-text">Парикмахерский зал для мужчин</div>
                <div class="tab-text">Парикмахерский зал для женщин</div>
            </div>
        </div>
    </div>

    <div class="custom-switch">
        <input type="checkbox" class="custom-switch-input" id="switch">

        <label class="custom-switch-label" for="switch">
            <span class="text">Онлайн запись</span>
        </label>
    </div>

    <div class="custom-switch">
        <input type="checkbox" class="custom-switch-input" id="switch2" checked="checked">

        <label class="custom-switch-label" for="switch2">
            <span class="text">Поиск по карте</span>
        </label>
    </div>

    <div class="filter__footer">
        <div class="tabs-switch">
            <div class="tabs-switch__item active">Сбросить</div>
            <div class="tabs-switch__item">Показать 209</div>
        </div>
    </div>
</div>
