{{> header/header}}

<div class="card">
    <div class="card__content">
        <div class="card-header">
            <div class="card-header__image">
                <img src="static/img/content/" alt="">
            </div>

            <h1>Студия красоты «BellaNika (Бэлла Ника)»</h1>

            <div class="card-header__info">
                <div class="tab-info">
                    <div class="tab-info__icon">
                        <span class="icon icon-local"></span>
                    </div>
                    <p>Минск, ул. Кузьмы Чорного, 31</p>
                </div>

                <div class="tab-info">
                    <div class="tab-info__icon">
                        <span class="icon icon-clock"></span>
                    </div>
                    <p>до 19:00</p>
                </div>

                <div class="tab-info">
                    <div class="tab-info__icon">
                        <span class="icon icon-mob"></span>
                    </div>
                    <p>+375 29 456-56-56</p>
                </div>
            </div>

            <div class="card-header__menu">
                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-route"></span>
                    Маршрут
                </a>

                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-price2"></span>
                    Цены
                </a>

                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-reviews"></span>
                    Отзывы
                </a>

                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-questions"></span>
                    Вопросы
                </a>
            </div>
        </div>

        <div class="card-info">
            <div class="card-info__tabs">
                <a href="javascript:void(0)" class="card-info__tabs--item active" data-tab="#tab1">Инфо</a>
                <a href="javascript:void(0)" class="card-info__tabs--item">Цены</a>
                <a href="javascript:void(0)" class="card-info__tabs--item">Специалисты</a>
                <a href="javascript:void(0)" class="card-info__tabs--item">Акции</a>
                <a href="javascript:void(0)" class="card-info__tabs--item">Отзывы</a>
                <a href="javascript:void(0)" class="card-info__tabs--item">Контакты</a>
            </div>

            <div class="card-info__content">
                <div class="card-info__tab-content" id="tab1">
                    <div class="line-info">
                        <div class="line-info__col1">
                            <p>Рядом с</p>
                        </div>
                        <div class="line-info__col2">
                            <p>ул. Толбухина, Логойский тракт, парк Челюскинцев, пр-т Независимости</p>
                        </div>
                    </div>

                    <div class="line-info">
                        <div class="line-info__col1">
                            <p>Метро</p>
                        </div>
                        <div class="line-info__col2">
                            <p>Парк Челюскинцев</p>
                        </div>
                    </div>

                    <div class="line-info">
                        <div class="line-info__col1">
                            <p>Услуги</p>
                        </div>
                        <div class="line-info__col2">
                            <p>Визаж, Коррекция бровей, Окраска бровей и ресниц, Парикмахерские услуги, Перманентный
                                макияж ... </p>
                        </div>
                    </div>

                    <div class="hide">
                        <div class="line-info">
                            <div class="line-info__col1">
                                <p>Рядом с</p>
                            </div>
                            <div class="line-info__col2">
                                <p>ул. Толбухина, Логойский тракт, парк Челюскинцев, пр-т Независимости</p>
                            </div>
                        </div>


                        <div class="line-info">
                            <div class="line-info__col1">
                                <p>Рядом с</p>
                            </div>
                            <div class="line-info__col2">
                                <p>ул. Толбухина, Логойский тракт, парк Челюскинцев, пр-т Независимости</p>
                            </div>
                        </div>
                    </div>

                    <div class="btn-more-line">
                        <span class="icon"></span>
                    </div>
                </div>

                <div class="card-info__tab-content" id="tab2">
                    <h3>ФОТО</h3>

                    <div class="card-photo">
                        <div class="card-photo__slider">
                            <div class="swiper-container card-photo-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="card-photo__slider--image">
                                            <img src="static/img/content/" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="card-photo__slider--image">
                                            <img src="static/img/content/" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="card-photo__slider--image">
                                            <img src="static/img/content/" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev card-photo-prev"></div>
                            <div class="swiper-button-next card-photo-next"></div>
                        </div>
                    </div>
                </div>

                <div class="card-info__tab-content" id="tab3">
                    <h3>ЦЕНЫ</h3>
                    <div class="line-price">
                        <div class="line-price__col1">Шоколадное обертывание</div>
                        <div class="line-price__col2">120 руб.</div>
                    </div>
                    <div class="line-price">
                        <div class="line-price__col1">Шоколадное обертывание</div>
                        <div class="line-price__col2">120 руб.</div>
                    </div>
                    <div class="line-price">
                        <div class="line-price__col1">Шоколадное обертывание</div>
                        <div class="line-price__col2">120 руб.</div>
                    </div>

                    <div class="hide">
                        <div class="line-price">
                            <div class="line-price__col1">Шоколадное обертывание</div>
                            <div class="line-price__col2">120 руб.</div>
                        </div>
                        <div class="line-price">
                            <div class="line-price__col1">Шоколадное обертывание</div>
                            <div class="line-price__col2">120 руб.</div>
                        </div>
                        <div class="line-price">
                            <div class="line-price__col1">Шоколадное обертывание</div>
                            <div class="line-price__col2">120 руб.</div>
                        </div>
                    </div>


                    <div class="btn-more-line">
                        <span class="icon"></span>
                    </div>
                </div>

                <div class="card-info__tab-content" id="tab4">
                    <h3>СПЕЦИАЛИСТЫ</h3>
                    <div class="card-specialist">
                        <div class="card-specialist__item">
                            <div class="card-specialist__item--image">
                                <img src="static/img/content/specialist1.png" alt="">
                            </div>
                            <div class="card-specialist__item--content">
                                <div>
                                    <h6>Китаева Мария</h6>
                                    <div class="card-specialist__item--review">
                                        3 отзыва
                                        <span class="icon-full-star"></span>
                                        5
                                    </div>
                                </div>

                                <div>
                                    <p>Стаж 8 лет</p>
                                    <p>Мастер маникюра и педикюра</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-specialist__item">
                            <div class="card-specialist__item--image">
                                <img src="static/img/content/specialist2.png" alt="">
                            </div>
                            <div class="card-specialist__item--content">
                                <div>
                                    <h6>Китаева Мария</h6>
                                    <div class="card-specialist__item--review">
                                        3 отзыва
                                        <span class="icon-full-star"></span>
                                        5
                                    </div>
                                </div>

                                <div>
                                    <p>Стаж 8 лет</p>
                                    <p>Мастер маникюра и педикюра</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-specialist__item">
                            <div class="card-specialist__item--image">
                                <img src="static/img/content/specialist1.png" alt="">
                            </div>
                            <div class="card-specialist__item--content">
                                <div>
                                    <h6>Китаева Мария</h6>
                                    <div class="card-specialist__item--review">
                                        3 отзыва
                                        <span class="icon-full-star"></span>
                                        5
                                    </div>
                                </div>

                                <div>
                                    <p>Стаж 8 лет</p>
                                    <p>Мастер маникюра и педикюра</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-specialist__item">
                            <div class="card-specialist__item--image">
                                <img src="static/img/content/specialist2.png" alt="">
                            </div>
                            <div class="card-specialist__item--content">
                                <div>
                                    <h6>Китаева Мария</h6>
                                    <div class="card-specialist__item--review">
                                        3 отзыва
                                        <span class="icon-full-star"></span>
                                        5
                                    </div>
                                </div>

                                <div>
                                    <p>Стаж 8 лет</p>
                                    <p>Мастер маникюра и педикюра</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hide">
                        <div class="card-specialist">
                            <div class="card-specialist__item">
                                <div class="card-specialist__item--image">
                                    <img src="static/img/content/specialist1.png" alt="">
                                </div>
                                <div class="card-specialist__item--content">
                                    <div>
                                        <h6>Китаева Мария</h6>
                                        <div class="card-specialist__item--review">
                                            3 отзыва
                                            <span class="icon-full-star"></span>
                                            5
                                        </div>
                                    </div>

                                    <div>
                                        <p>Стаж 8 лет</p>
                                        <p>Мастер маникюра и педикюра</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-specialist__item">
                                <div class="card-specialist__item--image">
                                    <img src="static/img/content/specialist2.png" alt="">
                                </div>
                                <div class="card-specialist__item--content">
                                    <div>
                                        <h6>Китаева Мария</h6>
                                        <div class="card-specialist__item--review">
                                            3 отзыва
                                            <span class="icon-full-star"></span>
                                            5
                                        </div>
                                    </div>

                                    <div>
                                        <p>Стаж 8 лет</p>
                                        <p>Мастер маникюра и педикюра</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-specialist__item">
                                <div class="card-specialist__item--image">
                                    <img src="static/img/content/specialist1.png" alt="">
                                </div>
                                <div class="card-specialist__item--content">
                                    <div>
                                        <h6>Китаева Мария</h6>
                                        <div class="card-specialist__item--review">
                                            3 отзыва
                                            <span class="icon-full-star"></span>
                                            5
                                        </div>
                                    </div>

                                    <div>
                                        <p>Стаж 8 лет</p>
                                        <p>Мастер маникюра и педикюра</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-specialist__item">
                                <div class="card-specialist__item--image">
                                    <img src="static/img/content/specialist2.png" alt="">
                                </div>
                                <div class="card-specialist__item--content">
                                    <div>
                                        <h6>Китаева Мария</h6>
                                        <div class="card-specialist__item--review">
                                            3 отзыва
                                            <span class="icon-full-star"></span>
                                            5
                                        </div>
                                    </div>

                                    <div>
                                        <p>Стаж 8 лет</p>
                                        <p>Мастер маникюра и педикюра</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-more-line">
                        <span class="icon"></span>
                    </div>
                </div>

                <div class="card-info__tab-content" id="tab9">
                    <h3>РАЗМЕЩАЕТСЯ В РУБРИКАХ</h3>

                    <div class="card-certificates">
                        <div class="tabs-certificates">
                            <div class="tabs-certificates__icon">
                                <span class="icon"></span>
                            </div>
                            <div>
                                <h6>Сертификаты</h6>
                                <p>BellaNika</p>
                            </div>
                        </div>

                        <div class="tabs-certificates">
                            <div class="tabs-certificates__icon">
                                <span class="icon"></span>
                            </div>
                            <div>
                                <h6>Сертификаты</h6>
                                <p>BellaNika</p>
                            </div>
                        </div>

                        <div class="tabs-certificates">
                            <div class="tabs-certificates__icon">
                                <span class="icon"></span>
                            </div>
                            <div>
                                <h6>Сертификаты</h6>
                                <p>BellaNika</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-info__tab-content" id="tab10">
                    <h3>НАШИ УСЛУГИ </h3>
                    <div class="card-services">
                        <a href="#" class="card-services__item">
                            Маникюр <span></span>
                        </a>
                        <a href="#" class="card-services__item">
                            Парикмахерский зал<span></span>
                        </a>
                        <a href="#" class="card-services__item">
                            Маникюр <span></span>
                        </a>
                        <a href="#" class="card-services__item">
                            Парикмахерский зал<span></span>
                        </a>
                    </div>

                    <div class="hide">
                        <div class="card-services">
                            <a href="#" class="card-services__item">
                                Маникюр <span></span>
                            </a>
                            <a href="#" class="card-services__item">
                                Парикмахерский зал<span></span>
                            </a>
                            <a href="#" class="card-services__item">
                                Маникюр <span></span>
                            </a>
                            <a href="#" class="card-services__item">
                                Парикмахерский зал<span></span>
                            </a>
                        </div>
                    </div>

                    <div class="btn-more-line">
                        <span class="icon"></span>
                    </div>
                </div>


                <div class="card-info__tab-content" id="tab11">
                    <h3>ЧУП по оказанию услуг «Студия БэллаНика»</h3>
                    <div class="card-info__text">
                        <p>Юридический адрес: 220012, г. Минск, ул. К. Чорного, д.31, пом.3<br>
                            УНП: 193089078<br>
                            Свидетельство о регистрации от 05.06.2018<br>
                            Зарегистрирован в Реестре бытовых услуг</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card__search"></div>
</div>
