<div class="main-map">
    <div class="places-nav">
        <ul class="places-menu">
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu1">
                    <span class="icon map-icon1"></span>Развлечения
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu2">
                    <span class="icon map-icon2"></span> Афиша
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu3">
                    <span class="icon map-icon3"></span> Еда
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu4">
                    <span class="icon map-icon4"></span> Шопинг
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu5">
                    <span class="icon map-icon5"></span> Здоровье
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu6">
                    <span class="icon map-icon6"></span> Обучение
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu7">
                    <span class="icon map-icon7"></span> Услуги
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu8">
                    <span class="icon map-icon8"></span> Туризм
                    и отдых
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu9">
                    <span class="icon map-icon9"></span> Детский
                    праздник
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu10">
                    <span class="icon map-icon10"></span> Беременным
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-map-menu="#second-map-menu11">
                    <span class="icon map-icon11"></span> Скидки
                </a>
            </li>
        </ul>
    </div>

    <div class="second-map-menu" id="second-map-menu1">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image1.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu2">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image2.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>

        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu3">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image3.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu4">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image4.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>

        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu5">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image5.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu6">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image6.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>

        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu7">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image7.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu8">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image8.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>

        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu9">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image9.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu10">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image10.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>

    <div class="second-map-menu" id="second-map-menu11">
        <div class="second-map-menu__image">
            <img src="static/img/content/map-image11.png" alt="">
        </div>
        <div class="second-map-menu__list">
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Роддома</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Планирование
                    беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Ведение беременности</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Курсы для беременных</p>
            </a>

            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Магазины для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Гимнастика, аквагимнастика
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фитнес и пилатес
                    для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Шейпинг для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Йога для беременных</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Массаж для
                    беременных и женщин после родов</p>
            </a>
            <a href="javascript:void(0)" data-third-menu="third-map-menu" class="second-map-menu__list--item">
                <p>Фотосъёмка
                    (для беременных, новорождённых)</p>
            </a>
        </div>
    </div>


    <div class="main-map__footer">
        <div class="main-map__footer--btn">
            <span></span>
        </div>
        <p>Детский интернет-портал для молодых мам и для тех, кто планирует ими стать.</p>

        <ul class="main-map__soc">
            <li><a href="javascript:void(0)"><span class="icon icon-facebook-f"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon icon-twitter-f"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon icon-insta-f"></span></a></li>
        </ul>
    </div>
</div>
