<div class="service-page">
    <div class="service-page__content">
        <div class="service-page__form">
            <h3>Пароль</h3>

            <form>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" name="" placeholder="">
                </div>

                <div class="form-group">
                    <label>Новый пароль</label>
                    <input type="password" name="" placeholder="">
                </div>

                <p>Пароль должен содержать буквы, цифры и быть не менее 8 символов.</p>

                <div class="form-group">
                    <label>Подтвердить новый пароль</label>
                    <input type="password" name="" placeholder="">
                </div>

                <button type="submit" class="btn btn-blue w-100">Сохранить</button>
            </form>
        </div>
    </div>

    <div class="service-page__aside">
        <a href="#" class="service-page__aside--logo">Логотип</a>

        <ul class="service-page__aside--menu">
            <li><a href="#" class="active">Личные данные</a></li>
            <li><a href="#">Пароль</a></li>
            <li><a href="#">Социальные сети</a></li>
            <li><a href="#">Выйти</a></li>
        </ul>

        <div class="service-page__aside--image">
            <img src="static/img/content/password.jpg" alt="">
        </div>
    </div>
</div>
