{{> header/header}}

<div class="favorites">
    <div class="container">
        <div class="favorites__wrap">
            <h2>Избранное <span>1</span></h2>

            <div class="favorites__item">
                <div class="favorites__item--body">
                    <div class="favorites__item--image">
                        <img src="static/img/content/favorites-place.png" alt="">
                    </div>
                    <div class="favorites__item--info">
                        <h4>CТУДИЯ КРАСОТЫ</h4>
                        <h3>BellaNika</h3>

                        <div class="favorites__item--local">
                            <span class="favorites-place"></span>
                            Минск, ул. Кузьмы Чорного, 31
                        </div>

                        <div class="favorites__item--time">
                            <span class="favorites-time"></span>
                            до 19:00
                        </div>
                    </div>
                </div>

                <div class="favorites__item--footer">
                    <a href="#" class="favorites__item--link">
                        <div class="icon-circle">
                            <span class="icon icon-checkmark"></span>
                        </div>
                        Записаться
                    </a>

                    <a href="#" class="favorites__item--link">
                        <div class="icon-circle">
                            <span class="icon icon-question"></span>
                        </div>
                        Задать вопрос
                    </a>

                    <a href="#" class="favorites__item--link">
                        <div class="icon-circle">
                            <span class="icon icon-price"></span>
                        </div>
                        Скидки
                    </a>

                    <a href="#" class="favorites__item--link favorites__item--more">
                        <div class="icon-circle">
                            <span class="icon "></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
