<div class="main-places">
    <div class="container">
        <h3>НОВЫЕ МЕСТА</h3>
    </div>

    <div class="main-places__container">
        <div class="container">
            <div class="main-places__title"><span>ТОП</span>детских развлечений</div>
            <div class="main-places__subtitle">рекомендаций</div>
        </div>

        <div class="main-places__wrap">
            <div class="container">
                <div class="main-places__list">
                    <div class="main-places__item">
                        <div class="main-places__item-image"></div>
                        <div class="main-places__item-content">
                            <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар Bread </p>
                        </div>
                    </div>
                    <div class="main-places__item">
                        <div class="main-places__item-image"></div>
                        <div class="main-places__item-content">
                            <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар Bread </p>
                        </div>
                    </div>
                    <div class="main-places__item">
                        <div class="main-places__item-image"></div>
                        <div class="main-places__item-content">
                            <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар Bread </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-places__img-roll">
            <img src="static/img/content/roll.png" alt="">
        </div>
        <div class="main-places__img-line">
            <img src="static/img/content/line.png" alt="">
        </div>
        <div class="main-places__img-ball">
            <img src="static/img/content/ball.png" alt="">
        </div>
        <div class="main-places__img-am-ball">
            <img src="static/img/content/am-ball.png" alt="">
        </div>
        <div class="main-places__img-cloud">
            <img src="static/img/content/cloud.png" alt="">
        </div>
        <div class="main-places__img-flipper">
            <img src="static/img/content/flipper.png" alt="">
        </div>
    </div>


    <div class="main-places__min">
        <div class="container">
            <div class="main-places__min--list">
                <div class="main-places__item">
                    <div class="main-places__item-image"></div>
                    <div class="main-places__item-content">
                        <span>новости</span>
                        <p>Возле фуд-корта Dвор заработал открытый каток. Вход бесплатный</p>
                        <div class="main-places__watch"><span></span> 22345</div>
                    </div>
                </div>

                <div class="main-places__item">
                    <div class="main-places__item-image"></div>
                    <div class="main-places__item-content">
                        <span>новости</span>
                        <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар Bread </p>
                        <div class="main-places__watch"><span></span> 22345</div>
                    </div>
                </div>

                <div class="main-places__item">
                    <div class="main-places__item-image"></div>
                    <div class="main-places__item-content">
                        <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар Bread </p>
                        <div class="main-places__watch"><span></span> 22345</div>
                    </div>
                </div>
            </div>


            <a href="#" class="btn-more">Читать еще</a>
        </div>
    </div>
</div>
