<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header-page__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a href="index.html" class="header__logo" title="logo">Логотип</a>

            <div class="header__select-town">
                <select class="select2" style="width: 100%">
                    <option>Минск</option>
                    <option>Брест</option>
                    <option>Вильнюс</option>
                    <option>Витебск</option>
                    <option>Гомель</option>
                    <option>Гродно</option>
                    <option>Могилев</option>
                    <option>Барановичи</option>
                    <option>Береза</option>
                    <option>Бобруйск</option>
                    <option>Борисов</option>
                    <option>Волковыск</option>
                    <option>Городок</option>
                </select>
            </div>

            <div class="header__search">
                <label class="icon-search" for="search"></label>
                <input type="text" placeholder="Поиск мест и событий" name="" id="search">
            </div>

            <a href="#" class="header__link-icon">
                <span class="icon-weather"></span>
            </a>

            <a href="#" class="header__link-icon">
                <span class="icon-header"></span>
            </a>

            <a href="login.html" class="header__link">Вход на сайт</a>

            <div class="dropdown header__lk">
                <div class="dropdown-btn header__lk--btn">
                    <div class="header__lk--ava">ИФ</div>
                    <p>Имя Фамилия</p>
                    <span class="dropdown-arrow"></span>
                </div>

                <div class="dropdown-menu">
                    <a href="#" class="active"><span class="icon icon-person"></span>Профиль</a>
                    <a href="#"><span class="icon icon-outline"></span>Избранное</a>
                    <a href="#"><span class="icon icon-calendar"></span>Бронирование</a>
                    <div class="dropdown-separator"></div>
                    <a href="#"><span class="icon icon-sign-out"></span>Выйти</a>
                </div>
            </div>
        </div>
    </div>
</header>
