<header class="header-page">
    <div class="container">
        <div class="header-page__wrap">
            <div class="header-page__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a href="index.html" class="header-page__logo" title="logo">Логотип</a>

            <div class="header-page__min-local"></div>

            <ul class="header-page__menu">
                <li><a href="javascript:void(0)" class="has-child" data-sub-menu="">КАТАЛОГ</a></li>
                <li><a href="javascript:void(0)" class="has-child" data-sub-menu="">АФИША</a></li>
                <li><a href="javascript:void(0)" class="has-child" data-sub-menu="">СКИДКИ</a></li>
                <li><a href="javascript:void(0)" data-sub-menu="">ЖУРНАЛ</a></li>
                <li><a href="javascript:void(0)" data-sub-menu="">ФОТООТЧЕТЫ</a></li>
            </ul>

            <div class="header-page__search">
                <label class="icon-search" for="search"></label>
                <input type="text" placeholder="Поиск мест и событий" name="" id="search">
            </div>
        </div>
    </div>
</header>

<div class="menu-slider" id="menu-cat"></div>
<div class="menu-slider" id="menu-poster"></div>
<div class="menu-slider" id="menu-sale"></div>
