<div class="service-page service-login">
    <div class="service-page__aside">
        <a href="index.html" class="service-page__aside--logo">Логотип</a>

        <div class="service-page__aside--image">
            <img src="static/img/content/login.jpg" alt="">
        </div>
    </div>

    <div class="service-page__content">
        <div class="service-page__form">
            <h3>Зарегистрируйтесь </h3>

            <form>
                <div class="register-tab">
                    <div class="register-tab__item active">
                        <span class="icon-google"></span>
                    </div>

                    <div class="register-tab__item">
                        <span class="icon-facebook"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" name="" placeholder="">
                </div>

                <div class="form-group">
                    <label>Эл. адрес</label>
                    <input type="email" name="" placeholder="">
                </div>

                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" name="" placeholder="">
                </div>

                <button type="submit" class="btn btn-blue w-100">Регистрация</button>
            </form>
        </div>
    </div>
</div>
