{{> header/header}}

<div class="main-banner">
    <div class="main-banner__bg">
        <img src="static/img/content/banner.jpg" alt="">
    </div>
    <div class="main-banner__content">
        <div class="container">
            <div class="carousel-wrapper hidden">
                <div class="carousel-wrapper-item">
                    <img src="static/img/content/" alt="carousel">
                </div>

                <div class="carousel-wrapper-item">
                    <img src="static/img/content/" alt="carousel">
                </div>

                <div class="carousel-wrapper-item">
                    <img src="static/img/content/" alt="carousel">
                </div>

                <div class="carousel-wrapper-item">
                    <img src="static/img/content/" alt="carousel">
                </div>
            </div>
        </div>
    </div>
</div>

{{> main/main-nav/main-nav}}

<div class="main-popular">
    <div class="container">
        <h3>ПОПУЛЯРНО НА САЙТЕ</h3>

        <div class="main-popular__wrap">
            <a href="#" class="main-popular__item" title="">
                <div class="main-popular__image">
                    <img src="static/img/content/m-pop1.png" alt="">
                </div>

                <div class="main-popular__content">
                    <h6>Развлечения</h6>
                    <h3>Новый Год 2021</h3>
                </div>
                <div class="main-popular__color" style="background-color: rgb(134, 216,254);"></div>
            </a>

            <a href="#" class="main-popular__item" title="">
                <div class="main-popular__image">
                    <img src="static/img/content/m-pop2.png" alt="">
                </div>

                <div class="main-popular__content">
                    <h6>Обучение</h6>
                    <h3>Онлайн обучение</h3>
                </div>

                <div class="main-popular__color" style="background-color: rgb(255, 179,156);"></div>
            </a>

            <a href="#" class="main-popular__item d-none" title="">
                <div class="main-popular__image">
                    <img src="static/img/content/m-pop4.png" alt="">
                </div>

                <div class="main-popular__content">
                    <h6>Обучение</h6>
                    <h3>Онлайн обучение</h3>
                </div>

                <div class="main-popular__color" style="background-color: rgb(189, 152,247);"></div>
            </a>

            <a href="#" class="main-popular__item" title="">
                <div class="main-popular__image">
                    <img src="static/img/content/m-pop3.png" alt="">
                </div>

                <div class="main-popular__content">
                    <h6>Шопинг</h6>
                    <h3>Лучшие товары</h3>
                    <div class="year">2021</div>
                </div>

                <div class="main-popular__color" style="background-color: rgb(174, 220,191);"></div>
            </a>
        </div>
    </div>
</div>

<div class="main-news">
    <div class="container">
        <h3>НОВОСТИ</h3>

        <div class="row main-news__wrap">
            <div class="col-4">
                <a href="#" class="main-news__item" title="">
                    <img src="static/img/content/cat-link,jpg" alt="">

                    <div class="main-news__item--content">
                        <span></span>
                        <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое «Мы сварим кофе в любое время».
                            Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое</p>
                    </div>
                </a>
            </div>

            <div class="col-4">
                <a href="#" class="main-news__item" title="">
                    <img src="static/img/content/cat-link,jpg" alt="">

                    <div class="main-news__item--content">
                        <span></span>
                        <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое «Мы сварим кофе в любое время».
                            Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое «Мы сварим кофе в любое время».
                            Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое</p>
                    </div>
                </a>
            </div>

            <div class="col-4">
                <a href="#" class="main-news__item" title="">
                    <img src="static/img/content/cat-link,jpg" alt="">

                    <div class="main-news__item--content">
                        <span></span>
                        <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое</p>
                    </div>
                </a>
            </div>

            <div class="col-4">
                <a href="#" class="main-news__item" title="">
                    <img src="static/img/content/cat-link,jpg" alt="">

                    <div class="main-news__item--content">
                        <span></span>
                        <p>«Мы сварим кофе в любое время». Дегустационный магазин-бар
                            Bread & Vine переехал с Карла Маркса «Мы сварим кофе в любое</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="btn-more">Посмотреть ещё <span></span></div>
    </div>
</div>

<div class="main-poster">
    <div class="container">
        <h3>АФИША</h3>

        <div class="main-poster__header">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="main-poster__slider">
        <div class="swiper-container main-poster-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster2.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster2.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster2.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-poster__slider-item">
                        <div class="main-poster__slider-item__image">
                            <img src="static/img/content/poster2.png" alt="">
                        </div>
                        <div class="main-poster__slider-item__content">
                            <h4>КОНЦЕРТ</h4>
                            <p>Концерт дуэта # 2 Маши</p>
                            <time>10 декабря</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-prev main-poster-prev"></div>
        <div class="swiper-button-next main-poster-next"></div>
    </div>
</div>

{{> main/main-places/main-places}}

{{> blocks/cat-link}}
{{> blocks/cat-link}}
{{> blocks/cat-link}}
{{> blocks/cat-link}}
{{> blocks/cat-link}}

{{> main/main-map/main-map}}

