{{> header/header}}

<div class="cat">
    <div class="cat__map"></div>

    <div class="cat__main">
        <div class="cat__header">
            <div class="cat__header--content">
                <h2>SPA в Минске <span>192</span></h2>

                <div class="tabs-switch">
                    <div class="tabs-switch__item active">Все места</div>
                    <div class="tabs-switch__item">С онлайн-записью</div>
                </div>

                <div class="tabs-wrap">
                    <div class="tab-text">Антицеллюлитная программа</div>
                    <div class="tab-text">Стоун-терапия</div>
                    <div class="tab-text">Тайский SPA</div>
                    <div class="tab-text">SPA для лица</div>
                    <div class="tab-text">Флоатинг</div>
                </div>
            </div>

            <div class="card-header__menu">
                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-nearly"></span>
                    рядом со мной
                </a>

                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-location"></span>
                    расположение
                </a>

                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-clock-blue"></span>
                    ВРЕМЯ РАБОТЫ
                </a>

                <a href="#" class="card-header__menu--item">
                    <span class="icon icon-filter"></span>
                    ВСЕ ФИЛЬТРЫ
                </a>
            </div>
        </div>

        <div class="cat-item">
            <div class="cat-item__content cat-item__header">
                <h5>CТУДИЯ КРАСОТЫ</h5>
                <h4>BellaNika</h4>
            </div>

            <div class="cat-item__photos">
                <div class="cat-item__photos-slider">
                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo1.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo2.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo3.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo1.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="cat-item__content">
                <p>Студия красоты с уникальным симбиозом безупречного сервиса и высоких стандартов качества
                    предоставляемых услуг</p>

                <div class="cat-item__specialists">
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe1.png">
                    </div>
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe2.png">
                    </div>
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe1.png">
                    </div>
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe2.png">
                    </div>
                </div>
            </div>

            <div class="cat-item__price">
                <div class="cat-item__price-slider">
                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>

                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>

                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>

                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>

                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>
                </div>
            </div>

            <div class="cat-item__content">
                <div class="cat-item__services">
                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Задать вопрос</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Записаться</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Все цены</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Скидки</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Новости</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Сертификаты</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Услуги</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>277 отзывов</p>
                    </div>

                    <div class="tab-more">
                    </div>
                </div>
            </div>
        </div>

        <div class="cat-item">
            <div class="cat-item__content cat-item__header">
                <h5>CТУДИЯ КРАСОТЫ</h5>
                <h4>BellaNika</h4>
            </div>

            <div class="cat-item__photos">
                <div class="cat-item__photos-slider">
                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo1.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo2.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo3.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo1.png" alt="">
                    </div>

                    <div class="cat-item__photos--image">
                        <img src="static/img/content/photo2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="cat-item__content">
                <p>Студия красоты с уникальным симбиозом безупречного сервиса и высоких стандартов качества
                    предоставляемых услуг</p>

                <div class="cat-item__specialists">
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe1.png">
                    </div>
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe2.png">
                    </div>
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe1.png">
                    </div>
                    <div class="cat-item__specialists--item">
                        <img src="static/img/content/spe2.png">
                    </div>
                </div>
            </div>

            <div class="cat-item__price">
                <div class="cat-item__price-slider">
                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>

                    <div class="cat-item__price--item price-sale">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">
                            <span>-70%</span>
                            120 руб.
                        </div>
                    </div>

                    <div class="cat-item__price--item price-sale">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">
                            <span>-70%</span>
                            120 руб.
                        </div>
                    </div>

                    <div class="cat-item__price--item price-sale">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">
                            <span>-70%</span>
                            120 руб.
                        </div>
                    </div>

                    <div class="cat-item__price--item">
                        <p>Шоколадное обертывание</p>
                        <div class="cat-item__price--sum">120 руб.</div>
                    </div>
                </div>
            </div>

            <div class="cat-item__content">
                <div class="cat-item__services">
                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Задать вопрос</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Записаться</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Все цены</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Скидки</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Новости</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Сертификаты</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>Услуги</p>
                    </div>

                    <div class="tab-info">
                        <div class="tab-info__icon">
                            <span class="icon icon-question"></span>
                        </div>
                        <p>277 отзывов</p>
                    </div>

                    <div class="tab-more">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> filter/filter}}
</div>
