{{> header/header-page}}

<div class="sale">
    <div class="sale-block">
        <div class="container">
            <div class="sale-block__title">
                <h3>КАФЕ И РЕСТОРАНЫ</h3>
                <a href="#">ПЕРЕЧЕНЬ ТОВАРОВ НА КОТОРЫЕ НЕ РАСПРОСТРАНЯЮТСЯ АКЦИИ И/ИЛИ СКИДКИ</a>

                <a href="#" class="sale-block__all">Все<span></span></a>
            </div>

            <div class="row sale__wrap">
                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale1.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>

                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale2.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale3.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale4.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale5.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 10% при заказе мероприятия от 1000 рублей</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sale-block">
        <div class="container">
            <div class="sale-block__title">
                <h3>КАФЕ И РЕСТОРАНЫ</h3>
                <a href="#" class="sale-block__all">Все<span></span></a>
            </div>

            <div class="row sale__wrap">
                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale1.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>

                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale2.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale3.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale4.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale5.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 10% при заказе мероприятия от 1000 рублей</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sale-block">
        <div class="container">
            <div class="sale-block__title">
                <h3>СПОРТ</h3>

                <a href="#" class="sale-block__all">Все<span></span></a>
            </div>

            <div class="row sale__wrap">
                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale1.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>

                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale2.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale3.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale4.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale5.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 10% при заказе мероприятия от 1000 рублей</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sale-block">
        <div class="container">
            <div class="sale-block__title">
                <h3>КРАСОТА</h3>

                <a href="#" class="sale-block__all">Все<span></span></a>
            </div>

            <div class="row sale__wrap">
                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale1.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>

                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale2.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale3.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale4.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale5.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 10% при заказе мероприятия от 1000 рублей</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="sale-block">
        <div class="container">
            <div class="sale-block__title">
                <h3>ТУРИЗМ И ОТДЫХ</h3>

                <a href="#" class="sale-block__all">Все<span></span></a>
            </div>

            <div class="row sale__wrap">
                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale1.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>

                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale2.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale3.png" alt="">
                            <div class="sale__item--type">30%</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale4.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 50% на второй хачапури по средам</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>

                <div class="sale__col">
                    <a href="#" class="sale__item">
                        <div class="sale__item--image">
                            <img src="static/img/content/sale5.png" alt="">
                            <div class="sale__item--type">Акция</div>
                        </div>
                        <div class="sale__item--content">
                            <h4>Скидка 10% при заказе мероприятия от 1000 рублей</h4>
                            <div class="info-date">
                                <div class="info-date__icon">
                                    <span class="icon-time"></span>
                                </div>
                                до 4 февраля
                            </div>

                            <div class="info-place">
                                <div class="info-place__icon">
                                    <span class="icon-place"></span>
                                </div>
                                Falcone
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
